@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  /* box-sizing: border-box; */
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333;
  background-color: #f2f2f2;
}

.clear-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation {
  display: flex;
  align-items: center;
  padding: 0 70px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
  background-color: #fff;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 345px;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 10px;
}

.navigation-user {
  max-width: 280px;
  margin-left: auto;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  margin-bottom: -10px;
}

.page-header-logo {
  position: relative;
  width: 140px;
  margin-right: 40px;
}

.page-header-logo img {
  display: block;
}

.main-img {
  color: #000;
  background-color: #436F8A;
  background-image: url("../image/index-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 63px;
  padding-top: 51px;
  padding-bottom: 83px;
}

.main-wrapper {
  text-align: center;
  padding-bottom: 80px;
}

.main-subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 31px;
}

.main-description {
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 0;
}

.hotels-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 76px;
  margin-bottom: 64px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-catalog {
  padding: 70px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 91px;
}

.advantages-wrapper {
  width: 33.333%;
  padding-top: 97px;
  padding-bottom: 90px;
}

.advantages-sublist {
  display: flex;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}

.advantages-title-white {
   color: #fff;
}

.advantages-number {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.advantages-wrapper-large {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.advantages-wrapper-blue {
  background-color: #83B3D3;
  color: #fff;
}

.advantages-list img {
  display: block;
}

.advantages-wrapper-blue-light {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333;
  width: 400px;
}

.advantages-wrapper-blue-cold {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantages-wrapper-white {
  width: 400px;
}

.advantages-descriptions {
  margin-top: 30px;
  margin-right: 75px;
  margin-left: 75px;
}

.found-descr {
  text-transform: uppercase;
}

.search {
  text-align: center;
  margin-bottom: 93px;
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-description {
  width: 720px;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
}

.search-button {
  background-color: #756257;
  color: #fff;
  line-height: 36px;
  margin-bottom: 93px;
}

.subscribe {
  background-image: url("../image/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  color: #fff;
  padding: 94px 200px;
  margin-bottom: 40px;
}
.subscribe-description {
  font-size: 22px;
  margin-bottom: px;
}

.subscribe-catalog {
  text-align: center;
  margin-bottom: 141px;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.hotel-rate {
  background-color: #F2F2F2;
  color: #333;
  font-size: 16px;
  text-transform: uppercase;
}

.subscribe-field {
  background-color: #F2F2F2;
  color: #000;
}

.card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000;
  text-decoration: none;
}

.button {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}

.button-brown {
  background-color: #756257;
}

.button-blue {
  background-color: #83B3D3;
}

.button-green {
  background-color: #7DB54F;
}

.button-more,
.button-favorite,
.button-check {
  font-size: 16px;
  line-height: 21px;
}

.button-clear {
  background-color: #F2F2F2;
  color: #333;
}

.button-download {
  display: block;
  width: 620px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 26px;
}

.page-footer {
  display: flex;
  align-items: center;
}

.footer-social {
  width: 240px;
}

.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-phone a {
  font-size: 40px;
  line-height: 40px;
  color: #000;
  text-decoration: none;
}

.footer-phone {
  width: 740px;
  text-align: center;
  margin-bottom: 40px;
}

.developer {
  width: 115px;
  margin-left: auto;
  margin-right: 72px;
}

.button-form {
  display:flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-img {
  background-image: url("../image/catalog-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  padding-left: 71px;
  padding-top: 35px;
  padding-bottom: 81px;
}

.catalog-filter-list,
.bredcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-form {
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
}

.catalog-filter-title {
  border: 0;
  margin-bottom: 30px;
}

.bredcrumbs {
  display: flex;
  margin-bottom: 45px;
}

.bredcrumbs-link {
  font-size: 16px;
  padding-right: 26px;
  color:#fff;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 5px;
}

.control-input:not(last-child) {
  margin-bottom: 13px;
}

.found-descr {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
}

.catalog-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-control {
  width: 287px;
  padding: 12px 19px;
}

.button-card {
  width: 48px;
  height: 48px;
  color: #fff;
  background-color: #000
}

.pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-card {
  display: block;
  text-decoration: none;
  background-color: #83B3D3;
  color: #fff;
  width: 55px;
  height: 55px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  box-sizing: border-box;
}

.card-clear {
  background-color:#F2F2F2;
  color: #000
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-descr {
  line-height: 23px;
  margin-left: 51px;
}
