@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  /* box-sizing: border-box; */
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333;
  background-color: #fff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  align-items: center;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 345px;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 10px;
}

.navigation-user {
  max-width: 280px;
  margin-left: auto;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.page-header-logo {
  position: relative;
  width: 140px;
  margin-right: 40px;
}

.main-page-container {
  width: 1200px;
  margin: 0 auto;
  margin-top: -10px;
}

.main-img {
  color: #000;
  background-color: #436F8A;
  background-image: url("../image/index-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 63px;
  padding-top: 51px;
  padding-bottom: 83px;
}

.main-wrapper {
  text-align: center;
}

.main-subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 31px;
}

.main-description {
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 80px;
}

.hotels-list {
  display: flex;
  width: 1056px;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-catalog {
  width: 1056px;
  padding: 70px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 91px;
}

.advantages-wrapper {
  display: flex;
  flex-direction: column;
}

.advantages-photo {
  display: flex;
  flex-grow: 1;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
  margin-right: 75px;
  margin-left: 75px;
  margin-top: 97px;
}

.advantages-title-white {
   color: #fff;
}

.advantages-number {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.advantages-wrapper-blue {
  display: flex;
  background-color: #83B3D3;
  color: #fff;
  width: 400px;
  justify-content: center;
}

.advantages-wrapper-blue-light {
  display: flex;
  background-color: #82b3d333;
  color: #333;
  width: 400px;
  height: 384px;
  justify-content: center;
}

.advantages-wrapper-blue-cold {
  display: flex;
  background-color: #83b3d31f;
  justify-content: center;
  width: 400px;
}

.advantages-wrapper-white {
  display: flex;
  justify-content: center;
  width: 400px;
}

.advantages-descriptions {
  margin-top: 30px;
  margin-bottom: 90px;
  margin-right: 75px;
  margin-left: 75px;
}

.found-descr {
  text-transform: uppercase;
}

.search {
  text-align: center;
  margin-bottom: 93px;
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-description {
  width: 720px;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
}

.search-button {
  background-color: #756257;
  color: #fff;
  line-height: 36px;
  margin-bottom: 93px;
}

.subscribe {
  background-image: url("../image/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  color: #fff;
  padding: 94px 200px;
  margin-bottom: 40px;
}
.subscribe-description {
  font-size: 22px;
  margin-bottom: px;
}

.subscribe-catalog {
  text-align: center;
  margin-bottom: 141px;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.hotel-rate {
  background-color: #F2F2F2;
  color: #333;
  font-size: 16px;
  text-transform: uppercase;
}

.subscribe-field {
  background-color: #F2F2F2;
  color: #000;
}

.card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000;
  text-decoration: none;
}

.button {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}

.button-brown {
  background-color: #756257;
}

.button-blue {
  background-color: #83B3D3;
}

.button-green {
  background-color: #7DB54F;
}

.navigation-button {
  line-height: 20px;
  font-size: 16px;
}

.button-more, .button-favorite, .button-check {
  font-size: 16px;
  line-height: 21px;
}

.button-clear {
  background-color: #F2F2F2;
  color: #333;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  width: 110px;
  margin-right: 61px;
}

.footer-phone a {
  font-size: 40px;
  line-height: 40px;
  color: #000;
  text-decoration: none;
}

.footer-phone {
  width: 740px;
  text-align: center;
  margin-bottom: 40px;
}

.developer {
  width: 115px;
  margin-left: auto;
  margin-right: 72px;
}

.filter-img {
  background-image: url("../image/catalog-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  padding-left: 71px;
  padding-top: 35px;
}

.visually-hidden {
  display: none;
}

.catalog-filter-list, .bredcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-form {
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
}

.button-form {
  display:flex;
  
}
